{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>About Apresentation</title>
  
    <!-- Favicon -->

    <!-- Main CSS file -->
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>


  </head>
  <body>

  <!-- PRELOADER -->
  <div class="lj-preloader"></div>
  <!-- /PRELOADER -->

  <!-- HEADER -->
  <header class="yt-background">

    <!-- YOUTUBE PLAYER -->
    <div class="yt-player" data-property="{videoURL:'http://youtu.be/0pXYp72dwl0', containment:'header', startAt:0, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <!-- /YOUTUBE PLAYER -->

    <!-- HEADER OVERLAY --> 
    <div class="lj-overlay lj-overlay-color lj-overlay-image"></div>
    <!-- /HEADER OVERLAY -->
    
    <div class="container">
      
      <div class="wrapper">

        <!-- LOGO -->
          <div class="row">
            <div class="col-xs-12 lj-logo" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s">
              <a href="#" title="">
                <img src="http://the-lumberjacks.com/items/coming-soon/elegant/demos/demo-3/img/logo-1x.png" class="lj-logo-1x" alt="">
                <img src="http://the-lumberjacks.com/items/coming-soon/elegant/demos/demo-3/img/logo-2x.png" class="lj-logo-2x" alt="">
              </a>
            </div>
          </div>
        <!-- /LOGO -->
        
        <!-- TITLE -->
          <div class="row">
            <div class="col-xs-12 lj-title" data-scroll-reveal="wait 0.5s, then enter left and move 40px over 1s">
              <h1 class="lj-text-center">About<span></span></h1>
            </div>
          </div>
        <!-- /TITLE -->
        
        <!-- LINE -->
          <div class="row">
            <div class="col-xs-12 lj-line" data-scroll-reveal="wait 0.75s, then enter right and move 40px over 1s">
              <div></div>
            </div>
          </div>
        <!-- /LINE -->

        <!-- TITLE PARAGRAPH -->
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 lj-title-paragraph" data-scroll-reveal="wait 1s, then enter right and move 40px over 1s">
              <p class="lj-text-center">About you. About me. About Us. A new social network is becoming</p>
            </div>
          </div>
        <!-- /TITLE PARAGRAPH -->
        
        <!-- COUNTDOWN -->      
        <div class="row">
          <div class="col-sm-12 lj-countdown" data-scroll-reveal="wait 1.25s, then enter bottom and move 40px over 1s">
            <div class="row">

            </div>
          </div>
        </div>
        <!-- /COUNTDOWN -->

        <!-- YOUTUBE CONTROLS -->
        <div class="row">
          <div class="col-xs-12 yt-controls" data-scroll-reveal="wait 1.75s, then enter right and move 20px over 1s">
            <a id="yt-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
            <a id="yt-play" class="fa fa-pause" href="#">&nbsp;</a>
          </div>
        </div>
        <!-- /YOUTUBE CONTROLS -->

      </div>
      
      <!-- SCROLL DOWN -->
      <div class="lj-scroll-down hidden-xs" data-scroll-reveal="wait 1.75s, then enter top and move 20px over 1s">
        <a href="#" title="">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
      <!-- /SCROLL DOWN -->

    </div>
    
  </header>
  <!-- /HEADER -->

  <!-- SUBSCRIBE -->
  <div class="subscribe module" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <!-- SUBSCRIBE TITLE -->
        <div class="col-sm-12 col-md-6 lj-subscribe-title" data-scroll-reveal="wait 0.25s, then enter left and move 40px over 1s">
          <h2>Subscribe <span>now</span>.</h2>
        </div>
        <!-- /SUBSCRIBE TITLE -->
        
        <!-- SUBSCRIBE FORM -->
        <div class="col-sm-12 col-md-6 lj-subscribe-form" data-scroll-reveal="wait 0.5s, then enter top and move 40px over 1s">
          <form id="subscribe">
            <div class="clearfix">
              <input type="text" value="" name="subscribe-email" id="subscribe-email" placeholder="Enter your e-mail here">
              <input type="submit" value="Submit" name="subscribe-submit">
            </div>
            <label for="subscribe-email" class="lj-subscribe-message"></label>
          </form>
        </div>
        <!-- /SUBSCRIBE FORM -->
      </div>
    </div>
  </div>
  <!-- /SUBSCRIBE -->

  <!-- ICONS -->
  <div class="icons module">
    <div class="container">
      <!-- COLUMNS -->
      <div class="row">
        <div class="col-sm-4 lj-icon-box" data-scroll-reveal="wait 0.25s, then enter left and move 40px over 1s">
          <span><i class="fa fa-cogs"></i></span>
          <h3 class="lj-text-uppercase">Development</h3>
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
          <a href="#" title="">More info</a>
        </div>
        
        <div class="col-sm-4 lj-icon-box" data-scroll-reveal="wait 0.5s, then enter top and move 40px over 1s">
          <span><i class="fa fa-support"></i></span>
          <h3 class="lj-text-uppercase">Friendly support</h3>
          <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
          <a href="#" title="">More info</a>
        </div>
        
        <div class="col-sm-4 lj-icon-box" data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
          <span><i class="fa fa-users"></i></span>
          <h3 class="lj-text-uppercase">User-friendly</h3>
          <p>We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.</p>
          <a href="#" title="">More info</a>
        </div>
      </div>
      <!-- /COLUMNS -->
    </div>
  </div>
  <!-- /ICONS -->
  
  
  <!-- WHO WE ARE -->
  <div class="who-we-are module">
    <div class="container">
      <div class="row">
        <!-- QUOTE -->
        <div class="col-sm-6 lj-quote">
          <span data-scroll-reveal="wait 0.25s, then enter left and move 20px over 1s"><i class="fa fa-quote-left"></i></span>
          <blockquote data-scroll-reveal="wait 0.5s, then enter right and move 20px over 1s">Courage is what it takes to stand up and speak; courage is also what it takes to sit down and listen.<cite>&ndash; Winston Churchill</cite></blockquote>
        </div>
        <!-- /QUOTE -->
        
        <!-- ABOUT -->
        <div class="col-sm-6 lj-about">
          <h2 data-scroll-reveal="wait 0.25s, then enter top and move 20px over 1s">Who we <span>are</span>.</h2>
          <p class="lj-about-leading" data-scroll-reveal="wait 0.5s, then enter right and move 20px over 1s">In a jungle of concrete somewhere in Europe, raw men work hard doing one of the world’s most dangerous jobs – building themes.</p>
          <p data-scroll-reveal="wait 0.5s, then enter left and move 20px over 1s">This extremely ruthless but satisfying effort is driven by passion and will help move forward your ideas.</p>
          <p data-scroll-reveal="wait 0.75s, then enter bottom and move 20px over 1s">Fully responsive, highly customizable Coming Soon template designed using Bootstrap 3 framework, yo! Spread the good news to your friends and family before they find out that you knew and you didn’t even mention it and then they’d be like, “oh, no you didn’t!”.</p>
        </div>
        <!-- /ABOUT -->
      </div>
    </div>
  </div>
  <!-- /WHO WE ARE -->
  
  <!-- TWITTER -->
  <div class="twitter module">
    <div class="container">
      <div class="row">
        <!-- TWITTER TITLE -->
        <div class="col-sm-4 lj-twitter-title" data-scroll-reveal="wait 0.25s, then enter left and move 40px over 1s">
          <h2>Latest <span>tweets</span>.</h2>
        </div>
        <!-- /TWITTER TITLE -->
        <!-- TWITTER FEED -->
        <div class="col-sm-8 lj-twitter-feed" data-scroll-reveal="wait 0.5s, then enter top and move 40px over 1s">

        </div>
        <!-- /TWITTER FEED -->
      </div>
    </div>
  </div>
  <!-- /TWITTER -->
  
  <!-- FOOTER -->
  <footer class="module">
    <div class="container">
      <div class="row">
        <!-- FOOTER LEFT -->
        <div class="col-sm-6 lj-footer-left">
          <!-- FOOTER TITLE -->
          <h2 data-scroll-reveal="wait 0.25s, then enter top and move 20px over 1s">Contact <span>us</span>.</h2>
          <!-- /FOOTER TITLE -->
          
          <!-- FOOTER PARAGRAPHS -->
          <p class="lj-footer-leading" data-scroll-reveal="wait 0.5s, then enter left and move 20px over 1s">Don’t hesitate to ask, we are here to help you!</p>
          <p data-scroll-reveal="wait 0.75s, then enter right and move 20px over 1s">Customer satisfaction is our priority and we understand that sometimes you need help. We provide friendly and helpful support for all our items.</p>
          <!-- /FOOTER PARAGRAPHS -->
          
          <!-- FOOTER ADDRESS -->
          <address data-scroll-reveal="wait 0.75s, then enter top and move 10px over 1s">
            <ul>
              <li><i class="fa-li fa fa-building-o"></i>Lumberjacks</li>
              <li>2801 Walnut Avenue</li>
              <li>Los Angeles, USA</li>
            </ul>
            <ul>
              <li><i class="fa-li fa fa-phone"></i>765-302-2878</li>
              <li>903-765-9492</li>
              <li><i class="fa-li fa fa-envelope-o"></i>name@domain.com</li>
            </ul>
          </address>
          <!-- /FOOTER ADDRESS -->
          
          <!-- FOOTER SOCIALS -->
          <ul class="lj-footer-socials" data-scroll-reveal="wait 0.75s, then enter bottom and move 20px over 1s">
            <li><a class="fa fa-facebook" href="#"></a></li>
            <li><a class="fa fa-twitter" href="#"></a></li>
            <li><a class="fa fa-google-plus" href="#"></a></li>
          </ul>
          <!-- /FOOTER SOCIALS -->
        </div>
        <!-- /FOOTER LEFT -->
        
        <!-- FOOTER RIGHT -->
        <div class="col-sm-6 lj-footer-right">
          <!-- CONTACT FORM MESSAGE-->
          <div class="lj-contact-message">

          </div>
          <!-- /CONTACT FORM MESSAGE-->
          
          <!-- CONTACT FORM -->
          <form id="contactform" data-scroll-reveal="wait 0.5s, then enter right and move 20px over 1s">
            <input type="text" value="" name="contact-name" id="contact-name" placeholder="Name">
            <input type="text" value="" name="contact-email" id="contact-email" placeholder="E-mail">
            <textarea name="contact-message" id="contact-message" placeholder="Message"></textarea>
            <input type="submit" value="Send message" name="contact-submit">
          </form>
          <!-- /CONTACT FORM -->
        </div>
        <!-- /FOOTER RIGHT -->
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->
  
  <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.countdown.js" %}"></script>
  <script type="text/javascript" src="{% static "js/device.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.mb.YTPlayer.js" %}"></script>
  <script type="text/javascript" src="{% static "js/scrollReveal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script type="text/javascript" src="{% static "twitter/tweetie.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.ajaxchimp.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lj-elegant.js" %}"></script>
  {# <script type="text/javascript" src="{% static "js/lj-color-switcher.js" %}"></script> #}
  </body>
</html>
