{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {# <meta property="og:url" content="http://networkabout.com/" /> #}
    {# <meta property="og:image" content="https://s-media-cache-ak0.pinimg.com/originals/29/26/6d/29266dd6bc1424eb5bb257c734b19748.jpg" /> #}
    {# <meta property="og:title" content="The new social network is becoming" /> #}
    {# <meta property="og:description" content="About you. About me. About Us. A new social network is becoming " /> #}
    {# <span class="st_sharethis" st_url="http://networkabout.com/" st_title="The new social network is becoming!"></span> #}
    <title>About - Social Network</title>
  
    <!-- Favicon -->

    <!-- Main CSS file -->
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>


  </head>
  <body>

  <!-- PRELOADER -->
  <div class="lj-preloader"></div>
  <!-- /PRELOADER -->

  <!-- HEADER -->
  <header class="yt-background">

    <!-- YOUTUBE PLAYER -->
    <div class="yt-player" data-property="{videoURL:'http://youtu.be/0pXYp72dwl0', containment:'header', startAt:0, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <!-- /YOUTUBE PLAYER -->

    <!-- HEADER OVERLAY --> 
    <div class="lj-overlay lj-overlay-color lj-overlay-image"></div>
    <!-- /HEADER OVERLAY -->
    
    <div class="container">
      
      <div class="wrapper">

        <!-- LOGO -->
          <div class="row">
            <div class="col-xs-12 lj-logo" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s">
              <a href="#" title="">
                <img src="http://the-lumberjacks.com/items/coming-soon/elegant/demos/demo-3/img/logo-1x.png" class="lj-logo-1x" alt="">
                <img src="http://the-lumberjacks.com/items/coming-soon/elegant/demos/demo-3/img/logo-2x.png" class="lj-logo-2x" alt="">
              </a>
            </div>
          </div>
        <!-- /LOGO -->
        
        <!-- TITLE -->
          <div class="row">
            <div class="col-xs-12 lj-title" data-scroll-reveal="wait 0.5s, then enter left and move 40px over 1s">
              <h1 class="lj-text-center">About<span></span></h1>
            </div>
          </div>
        <!-- /TITLE -->
        
        <!-- LINE -->
          <div class="row">
            <div class="col-xs-12 lj-line" data-scroll-reveal="wait 0.75s, then enter right and move 40px over 1s">
              <div></div>
            </div>
          </div>
        <!-- /LINE -->

        <!-- TITLE PARAGRAPH -->
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 lj-title-paragraph" data-scroll-reveal="wait 1s, then enter right and move 40px over 1s">
              <p class="lj-text-center">About you. About me. About Us. A new social network is becoming</p>
            </div>
          </div>
        <!-- /TITLE PARAGRAPH -->
        
        <!-- COUNTDOWN -->      
        <div class="row">
          <div class="col-sm-12 lj-countdown" data-scroll-reveal="wait 1.25s, then enter bottom and move 40px over 1s">
            <div class="row">

            </div>
          </div>
        </div>
        <!-- /COUNTDOWN -->

        <!-- YOUTUBE CONTROLS -->
        <div class="row">
          <div class="col-xs-12 yt-controls" data-scroll-reveal="wait 1.75s, then enter right and move 20px over 1s">
            <a id="yt-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
            <a id="yt-play" class="fa fa-pause" href="#">&nbsp;</a>
          </div>
        </div>
        <!-- /YOUTUBE CONTROLS -->

      </div>
      
      <!-- SCROLL DOWN -->
      <div class="lj-scroll-down hidden-xs" data-scroll-reveal="wait 1.75s, then enter top and move 20px over 1s">
        <a href="#" title="">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
      <!-- /SCROLL DOWN -->

    </div>
    
  </header>
  <!-- /HEADER -->

  <!-- SUBSCRIBE -->
  <div class="subscribe module" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <!-- SUBSCRIBE TITLE -->
        <div class="col-sm-12 col-md-6 lj-subscribe-title" data-scroll-reveal="wait 0.25s, then enter left and move 40px over 1s">
          <h2>Subscribe <span>now</span>.</h2>
        </div>
        <!-- /SUBSCRIBE TITLE -->
        
        <!-- SUBSCRIBE FORM -->
        <div class="col-sm-12 col-md-6 lj-subscribe-form" data-scroll-reveal="wait 0.5s, then enter top and move 40px over 1s">
          <form id="subscribe">
            <div class="clearfix">
              <input type="text" value="" name="subscribe-email" id="subscribe-email" placeholder="Enter your e-mail here">
              <input type="submit" value="Submit" name="subscribe-submit">
            </div>
            <label for="subscribe-email" class="lj-subscribe-message"></label>
          </form>
        </div>
        <!-- /SUBSCRIBE FORM -->
      </div>
    </div>
  </div>
  <!-- /SUBSCRIBE -->

  
  <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.countdown.js" %}"></script>
  <script type="text/javascript" src="{% static "js/device.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.mb.YTPlayer.js" %}"></script>
  <script type="text/javascript" src="{% static "js/scrollReveal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.ajaxchimp.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lj-elegant.js" %}"></script>
  </body>
</html>
